.vscode/**
src/**
scripts/**
samples/**
out/test/**
.gitignore
.yarnrc
package-lock.json
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
node_modules/hyparquet/types/**
node_modules/**/README*
node_modules/**/readme*
node_modules/**/CHANGELOG*
node_modules/**/changelog*
